<hr />
<div class="container p-4">
  <form>
    <div class="row p-2">
        <div class="form-group col-md-6">
          <label for="inputIdLote">Id Lote</label>
          <input type="text" class="form-control" id="inputIdLote" />
        </div>
        <div class="form-group col-md-6">
          <label for="inputCodigoMateriaPrima">Codigo Materia Prima</label>
          <input type="text" class="form-control" id="inputCodigoMateriaPrima" />
        </div>
        <div class="form-group col-6">
          <label for="inputCodigoRegistro">Codigo de Registro</label>
          <input type="text" class="form-control" id="inputCodigoRegistro" />
        </div>
        <div class="form-group col-6">
          <label for="inputCodigoLote">Codigo de Lote</label>
          <input type="text" class="form-control" id="inputCodigoLote" />
        </div>
        <div class="form-group col-6">
          <label for="inputFechaProduccion">Fecha Produccion</label>
          <input type="text" class="form-control" id="inputFechaProduccion" />
        </div>
        <div class="form-group col-6">
          <label for="inputCantidadProducida">Cantidad Producida</label>
          <input type="text" class="form-control" id="inputCantidadProducida" />
        </div>
        <div class="form-group col-6">
          <label for="inputEstadoLote">Estado Lote</label>
          <input type="text" class="form-control" id="inputEstadoLote" />
        </div>
        <div class="form-group col-6">
          <label for="inputTipoProducto">Tipo Producto</label>
          <input type="text" class="form-control" id="inputTipoProducto" />
        </div>
        <div class="form-group col-6">
          <label for="inputCodigoBarras">Codigo Barras</label>
          <input type="text" class="form-control" id="inputCodigoBarras" />
        </div>
        <div class="form-group col-6">
          <label for="inputPesoPromedioUnidad">Peso Promedio Unidad</label>
          <input type="text" class="form-control" id="inputPesoPromedioUnidad" />
        </div>
      </div>
  
      <div class="form-group p-2">
        <label for="inputObservaciones">Observaciones</label>
        <input type="text" class="form-control" id="inputObservaciones" />
      </div>
    

    <button type="submit" class="btn btn-primary m-2 w-100">Guardar</button>
  </form>
</div>
