<hr />
<div class="container p-4">
  <form>
    <div class="row p-2">
      <div class="form-group col-md-6">
        <label for="inputIDProductor">ID Productor</label>
        <input type="text" class="form-control" id="inputIDProductor" />
      </div>
      <div class="form-group col-md-6">
        <label for="inputCodigoRegistro">Codigo de Registro</label>
        <input type="text" class="form-control" id="inputCodigoRegistro" />
      </div>
      <div class="form-group col-6">
        <label for="inputFechaHoraRecepcion">Fecha Hora Recepcion</label>
        <input type="text" class="form-control" id="inputFechaHoraRecepcion" />
      </div>
      <div class="form-group col-6">
        <label for="inputCantidadLecheRecibida">Cantidad Leche Recibida</label>
        <input type="text" class="form-control" id="inputCantidadLecheRecibida" />
      </div>
      <div class="form-group col-6">
        <label for="inputEstadoLeche">Estado Leche</label>
        <input type="text" class="form-control" id="inputEstadoLeche" />
      </div>
      <div class="form-group col-6">
        <label for="inputTemperaturaLeche">Temperatura Leche</label>
        <input type="text" class="form-control" id="inputTemperaturaLeche" />
      </div>
      <div class="form-group col-6">
        <label for="inputNivelGrasa">Nivel Grasa</label>
        <input type="text" class="form-control" id="inputNivelGrasa" />
      </div>
    </div>

    <div class="form-group p-2">
      <label for="inputObservaciones">Observaciones</label>
      <input type="text" class="form-control" id="inputObservaciones" />
    </div>

    <button type="submit" class="btn btn-primary m-2 w-100">Guardar</button>
  </form>
</div>
