/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
$primaryColor: #175d72;       
$theme-colors: (primary: $primaryColor);

@import 'bootstrap/scss/bootstrap';

:root{
    --base-color: #175d72;
    --text-base-color: white;
}

